<% provide :submit, '新規作成' %>
<div class="container">
  <div class="row">
    <div class="col-md-12 border mg-top bg-white mb-5">
      <h2 class="text-center mt-4">ブログの新規作成</h2>
      <div class="content">
        <%= image_tag "/flower.jpg", class: "img-size" %>
        <%= render "form", article: @article %>
      </div>
    </div>
  </div>
</div>
