<div class="container">
  <div class="row">
    <div class="col-md-12 content-with">
      <div class="content">
        <%= image_tag "/flower.jpg", class: "img-size" %>
        <h2 class="text-center"><%= @article.title %></h2>
        <p><%= @article.content %></p>
        <span><%= l @article.created_at, format: :medium %></span>  
      </div>
    </div>
  </div>
</div>
