<div class="container">
  <div class="row">
    <div class="col-md-12 content-with">
      <div class="content">
        <%= image_tag "/flower.jpg", class: "img-size" %>
        <h2><%= @article.title %></h2>
        <p><%= @article.content %></p>
        <p class="text-right"><%= l @article.created_at, format: :medium %></p>
      </div>
    </div>
  </div>
</div>
